<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOqlAISB2Z-lbd17EzpBiwDcR5kigp1JI</string>
	<key>GCM_SENDER_ID</key>
	<string>222764086185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-20ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-20ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222764086185:ios:44752a716065219f7a0ab8</string>
</dict>
</plist>